/* ==========================================================================
   VARIABLES: Color Library

   Imported through vite.config.ts as @use directive
   Usage: colors.$var
   ========================================================================== */

// Color Presets
$white: #fff;
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.95);
$green: #00bd6f;
$green-dark: #005f38;
$grey-light: #efefef;
$grey-dark: #0a0a0a;

$grey: #999;
$blue: #73bbc5;

// Typo Colors
$font-main-light: #121212;
$font-main-dark: #fff;
$font-black: #121212;
$font-selection: #fff;
$font-grey: #dbdbdb;
$font-white: #efefef;
$font-heading-from: #666;

// Links
$link-main: $green;
$link-main-hover: #3f3f46;
$link-main-active: #000;

// Input
$input-bg-dark: rgba(0, 189, 111, 0.75);
$input-bg-dark-hover: rgba(0, 189, 111, 0.5);

// Backgrounds
$bg-dark: #121212;
$bg-light: #fff;

$bg-body-light: #fff;
$bg-body-dark: #0a0a0a;
$bg-border-app: #efefef;
$bg-selection: #73bbc5;
$bg-border-app-light: #efefef;
$bg-border-app-dark: #000;

// Helpers
$selection-bg: #b3d4fc;
$warning: #ff5708;
